<!DOCTYPE html>
<html >
    <head>
        <title>$statusCode - $statusText</title>
        $include.template("include-htmlheader.vm")
    </head>
    <body>
        <h1>$statusCode &ndash; $statusText</h1>
        <p>An error occured</p>
        <a href="$home.link">Go to Home Page</a>
    </body>
</html>